{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "//api.flyff.com",
      "description": "Main server"
    }
  ],
  "info": {
    "description": "<strong>Welcome to Flyff Universe Public API!</strong>\n\nThe API is still in development and specifications can change as well as the main URL.\n\nCheck <a href=\"https://drive.google.com/drive/folders/12jQHkPvKXZrDZ9h_SNS7scf2mGUKSuKl\" target=\"_blank\">Flyff Official Fansite Kit</a> for high-quality 2D assets.\n\nContact the developers by <a href=\"mailto:ir@gala.kr\">mail</a> or on the official <a href=\"https://discord.com/invite/ScQwYz79rt\" target=\"_blank\">Discord</a> if you have questions, suggestions, or a bug to report.\n\n<strong>Copyright 2021-2024 &copy; Gala Lab Corp. All Rights Reserved.</strong>\n\n<em>Permission to use the data and images granted only for information sites and tools about the official game. Gala Lab reserves the right to no longer grant this permission at any time. Commercial use strictly prohibited. Use for in-game automation and cheating tools, or use in any other video game is strictly prohibited. Please contact the developers if you wish to verify that your use of this API is in accordance with the copyright.</em>\n\n<br>\n<img src=\"https://cdn-universe.flyff.com/site/api/gala2.png\" alt=\"Gala Lab Logo\" width=\"260\">\n\n# Introduction\nCurrently limited to <strong>300 calls per minute per IP</strong>. No size limitation on the request and the response.\n\nFeel free to cache the results and fetch the data only when the <a href=\"#tag/version\">data version</a> changes.\n\nVersion History:\n<ul>\n    <li>2024/03/15 - Data update.</li>\n    <li>1.5.3 - 2024/05/15 - Data update and new stats, states, and menus.</li>\n    <li>1.5.4 - 2024/08/15 - Data update and new eventupgrade menu.</li>\n    <li>2024/09/15 - Data update.</li>\n    <li>1.6.0 - 2024/10/16 - Data update and API update for Battle for Madrigal expansion.</li>\n    <li>2024/10/24 - Data update.</li>\n    <li>1.7.0 - 2024/11/28 - Data update and API update for the Lifestyle update.</li>\n    <li>1.8.0 - 2025/04/24 - Data update and API update ahead of FWC 2025.</li>\n    <li>1.9.0 - 2025/11/27 - Data update and API update for Muran's Awakening expansion.</li>\n    <li>1.9.1 - 2025/11/28 - Data update and minor API update.</li>\n    <li>1.9.2 - 2026/01/23 - Data update and minor API update.</li>\n</ul>\n",
    "version": "1.9.2",
    "title": "Flyff Universe API",
    "contact": {
      "name": "Gala Lab",
      "email": "ir@gala.kr",
      "url": "http://galalab.kr/"
    },
    "x-logo": {
      "url": "https://cdn-universe.flyff.com/site/api/flyff.png",
      "altText": "Flyff logo"
    }
  },
  "tags": [
    {
      "name": "localized_text",
      "x-displayName": "LocalizedText",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/LocalizedText\" />\n"
    },
    {
      "name": "place",
      "x-displayName": "Place",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Place\" />\n"
    },
    {
      "name": "badge",
      "x-displayName": "Badge",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Badge\" />\n"
    },
    {
      "name": "element",
      "x-displayName": "Element",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Element\" />\n"
    },
    {
      "name": "spawn",
      "x-displayName": "Spawn",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Spawn\" />\n"
    },
    {
      "name": "part",
      "x-displayName": "Part",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Part\" />\n"
    },
    {
      "name": "debuff_type",
      "x-displayName": "DebuffType",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/DebuffType\" />\n"
    },
    {
      "name": "npc",
      "x-displayName": "NPC",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/NPC\" />\n"
    },
    {
      "name": "housingtemplate",
      "x-displayName": "Housing Template",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/HousingTemplate\" />\n"
    },
    {
      "name": "housingpack",
      "x-displayName": "Housing Pack",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/HousingPack\" />\n"
    },
    {
      "name": "class",
      "x-displayName": "Class",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Class\" />\n"
    },
    {
      "name": "location",
      "x-displayName": "Location",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Location\" />\n"
    },
    {
      "name": "language",
      "x-displayName": "Language",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Language\" />\n"
    },
    {
      "name": "upgradelevelbonus",
      "x-displayName": "Upgrade Level Bonus",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/UpgradeLevelBonus\" />\n"
    },
    {
      "name": "awake",
      "x-displayName": "Awake"
    },
    {
      "name": "raisedpet",
      "x-displayName": "Raised Pets",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/RaisedPet\" />\n"
    },
    {
      "name": "dungeon",
      "x-displayName": "Dungeons",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Dungeons\" />\n"
    },
    {
      "name": "exchangemenu",
      "x-displayName": "Exchange Menus",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/ExchangeMenus\" />\n"
    },
    {
      "name": "world",
      "x-displayName": "World",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/World\" />\n"
    },
    {
      "name": "monster",
      "x-displayName": "Monster",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Monster\" />\n"
    },
    {
      "name": "skill",
      "x-displayName": "Skill",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Skill\" />\n"
    },
    {
      "name": "partyskill",
      "x-displayName": "Party Skill",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/PartySkill\" />\n"
    },
    {
      "name": "item",
      "x-displayName": "Item",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Item\" />\n"
    },
    {
      "name": "equipset",
      "x-displayName": "Equipment Set",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/EquipSet\" />\n"
    },
    {
      "name": "achievement",
      "x-displayName": "Achievement",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Achievement\" />\n"
    },
    {
      "name": "quest",
      "x-displayName": "Quest",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Quest\" />\n"
    },
    {
      "name": "ability",
      "x-displayName": "Ability",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Ability\" />\n"
    },
    {
      "name": "pk",
      "x-displayName": "PK",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/PK\" />\n"
    },
    {
      "name": "couple",
      "x-displayName": "Couple",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Couple\" />\n"
    },
    {
      "name": "lifestyle",
      "x-displayName": "Lifestyle",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Lifestyle\" />\n"
    },
    {
      "name": "recipe",
      "x-displayName": "Recipe",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Recipe\" />\n"
    },
    {
      "name": "color",
      "x-displayName": "Color",
      "description": "<SchemaDefinition schemaRef=\"#/components/schemas/Color\" />\n"
    },
    {
      "name": "version",
      "x-displayName": "Version"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Game Data",
      "tags": [
        "version",
        "class",
        "world",
        "monster",
        "item",
        "equipset",
        "skill",
        "partyskill",
        "npc",
        "quest",
        "pk",
        "achievement",
        "upgradelevelbonus",
        "awake",
        "raisedpet",
        "dungeon",
        "exchangemenu",
        "housingtemplate",
        "housingpack",
        "couple",
        "lifestyle",
        "recipe"
      ]
    },
    {
      "name": "Core",
      "tags": [
        "language",
        "localized_text",
        "location",
        "spawn",
        "ability",
        "place",
        "element",
        "badge",
        "debuff_type",
        "part",
        "color"
      ]
    }
  ],
  "paths": {
    "/version/data": {
      "get": {
        "tags": [
          "version"
        ],
        "summary": "Get the version of the game data",
        "description": "Returns an unique ID representing the current version of the static game data",
        "operation": "getDataVersion",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "example": 1
                }
              }
            }
          }
        }
      }
    },
    "/version/api": {
      "get": {
        "tags": [
          "version"
        ],
        "summary": "Get the version of the game API",
        "description": "Returns the current version of the game API",
        "operation": "getApiVersion",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "1.2.0"
                }
              }
            }
          }
        }
      }
    },
    "/class": {
      "get": {
        "tags": [
          "class"
        ],
        "summary": "Get all classes IDs",
        "description": "Returns an array containing the ID of all available classes",
        "operation": "getClassIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1689,
                    296,
                    2881
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/class/{classId}": {
      "get": {
        "tags": [
          "class"
        ],
        "summary": "Find class by ID",
        "description": "Returns a single class",
        "operation": "getClassById",
        "parameters": [
          {
            "name": "classId",
            "in": "path",
            "description": "ID of class to return",
            "required": true,
            "example": 1689,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Class"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Class not found"
          }
        }
      }
    },
    "/class/{classIds}": {
      "get": {
        "tags": [
          "class"
        ],
        "summary": "Find classes by a list of IDs",
        "description": "Returns an array with classes",
        "operation": "getClassByIds",
        "parameters": [
          {
            "name": "classIds",
            "in": "path",
            "description": "IDs of classes to return separated by comma ,",
            "required": true,
            "example": "1689,296,2881"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Class"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Class not found"
          }
        }
      }
    },
    "/image/class/{style}/{fileName}": {
      "get": {
        "tags": [
          "class"
        ],
        "summary": "Get class icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "style",
            "in": "path",
            "description": "Style of the icon. Accepted values: messenger, old_female, old_male, target.",
            "required": true,
            "example": "messenger"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "vagrant.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/image/class/tree/{fileName}": {
      "get": {
        "tags": [
          "class"
        ],
        "summary": "Get class skill tree",
        "description": "Returns skill tree for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the skill tree",
            "required": true,
            "example": "Vagrant.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Tree not found"
          }
        }
      }
    },
    "/housing/packs": {
      "get": {
        "tags": [
          "housingpack"
        ],
        "summary": "Get all housing pack IDs",
        "description": "Returns an array containing the ID of all available housing packs",
        "operation": "getHousingPackIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1689,
                    296,
                    2881
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/housing/packs/{packId}": {
      "get": {
        "tags": [
          "housingpack"
        ],
        "summary": "Find housing pack by ID",
        "description": "Returns a single housing pack",
        "operation": "getHousingPackById",
        "parameters": [
          {
            "name": "packId",
            "in": "path",
            "description": "ID of housing pack to return",
            "required": true,
            "example": 1689,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousingPack"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Pack not found"
          }
        }
      }
    },
    "/housing/packs/{packIds}": {
      "get": {
        "tags": [
          "housingpack"
        ],
        "summary": "Find housing packs by a list of IDs",
        "description": "Returns an array with housing packs",
        "operation": "getHousingPacksByIds",
        "parameters": [
          {
            "name": "packIds",
            "in": "path",
            "description": "IDs of packs to return separated by comma ,",
            "required": true,
            "example": "1689,296,2881"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousingPack"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Pack not found"
          }
        }
      }
    },
    "/housing/templates": {
      "get": {
        "tags": [
          "housingtemplate"
        ],
        "summary": "Get all housing template IDs",
        "description": "Returns an array containing the ID of all available housing templates",
        "operation": "getHousingTemplateIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1689,
                    296,
                    2881
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/housing/templates/{templateId}": {
      "get": {
        "tags": [
          "housingtemplate"
        ],
        "summary": "Find housing template by ID",
        "description": "Returns a single housing template",
        "operation": "getHousingTemplateById",
        "parameters": [
          {
            "name": "templateId",
            "in": "path",
            "description": "ID of housing template to return",
            "required": true,
            "example": 1689,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HousingTemplate"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/housing/templates/{templateIds}": {
      "get": {
        "tags": [
          "housingtemplate"
        ],
        "summary": "Find housing templates by a list of IDs",
        "description": "Returns an array with housing templates",
        "operation": "getHousingTemplatesByIds",
        "parameters": [
          {
            "name": "templateIds",
            "in": "path",
            "description": "IDs of templates to return separated by comma ,",
            "required": true,
            "example": "1689,296,2881"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HousingTemplate"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Template not found"
          }
        }
      }
    },
    "/image/housing/{fileName}": {
      "get": {
        "tags": [
          "housingtemplate"
        ],
        "summary": "Get Housing template preview image",
        "description": "Returns image for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the image",
            "required": true,
            "example": "BlankWorld.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/lifestyle/recipe": {
      "get": {
        "tags": [
          "recipe"
        ],
        "summary": "Get all recipe IDs",
        "description": "Returns an array containing the ID of all available recipes",
        "operation": "getRecipeIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1689,
                    296,
                    2881
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/lifestyle/recipe/{recipeId}": {
      "get": {
        "tags": [
          "recipe"
        ],
        "summary": "Find recipe by ID",
        "description": "Returns a recipe",
        "operation": "getRecipeById",
        "parameters": [
          {
            "name": "recipeId",
            "in": "path",
            "description": "ID of recipe to return",
            "required": true,
            "example": 1689,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Recipe"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      }
    },
    "/lifestyle/recipe/{recipeIds}": {
      "get": {
        "tags": [
          "recipe"
        ],
        "summary": "Find recipes by a list of IDs",
        "description": "Returns an array with recipes",
        "operation": "getRecipesByIds",
        "parameters": [
          {
            "name": "recipeIds",
            "in": "path",
            "description": "IDs of recipes to return separated by comma ,",
            "required": true,
            "example": "1689,296,2881"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Recipe"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Recipe not found"
          }
        }
      }
    },
    "/npc": {
      "get": {
        "tags": [
          "npc"
        ],
        "summary": "Get all NPCs IDs",
        "description": "Returns an array containing the ID of all available NPCs",
        "operation": "getNpcIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1689,
                    296,
                    2881
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/npc/{npcId}": {
      "get": {
        "tags": [
          "npc"
        ],
        "summary": "Find NPC by ID",
        "description": "Returns a single NPC",
        "operation": "getNpcById",
        "parameters": [
          {
            "name": "npcId",
            "in": "path",
            "description": "ID of NPC to return",
            "required": true,
            "example": 1689,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NPC"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "NPC not found"
          }
        }
      }
    },
    "/npc/{npcIds}": {
      "get": {
        "tags": [
          "npc"
        ],
        "summary": "Find NPCs by a list of IDs",
        "description": "Returns an array with NPCs",
        "operation": "getNpcByIds",
        "parameters": [
          {
            "name": "npcIds",
            "in": "path",
            "description": "IDs of NPCs to return separated by comma ,",
            "required": true,
            "example": "1689,296,2881"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NPC"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "NPC not found"
          }
        }
      }
    },
    "/image/npc/{fileName}": {
      "get": {
        "tags": [
          "npc"
        ],
        "summary": "Get NPC dialog image",
        "description": "Returns image for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the image",
            "required": true,
            "example": "marche.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/quest": {
      "get": {
        "tags": [
          "quest"
        ],
        "summary": "Get all Quests IDs",
        "description": "Returns an array containing the ID of all available Quests",
        "operation": "getQuestIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    1840,
                    821,
                    5260
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/quest/{questId}": {
      "get": {
        "tags": [
          "quest"
        ],
        "summary": "Find Quest by ID",
        "description": "Returns a single Quest",
        "operation": "getQuestById",
        "parameters": [
          {
            "name": "questId",
            "in": "path",
            "description": "ID of Quest to return",
            "required": true,
            "example": 1840,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Quest"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Quest not found"
          }
        }
      }
    },
    "/quest/{questIds}": {
      "get": {
        "tags": [
          "quest"
        ],
        "summary": "Find Quests by a list of IDs",
        "description": "Returns an array with Quests",
        "operation": "getQuestByIds",
        "parameters": [
          {
            "name": "questIds",
            "in": "path",
            "description": "IDs of Quests to return separated by comma ,",
            "required": true,
            "example": "1840,821,5260"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Quest"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Quest not found"
          }
        }
      }
    },
    "/pk": {
      "get": {
        "tags": [
          "pk"
        ],
        "summary": "Get all PK information",
        "description": "Returns an object containing information about PK",
        "operation": "getPKInfo",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/PK"
                }
              }
            }
          }
        }
      }
    },
    "/couple": {
      "get": {
        "tags": [
          "couple"
        ],
        "summary": "Get all Couple information",
        "description": "Returns an object containing information about Couples",
        "operation": "getCoupleInfo",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Couple"
                }
              }
            }
          }
        }
      }
    },
    "/lifestyle": {
      "get": {
        "tags": [
          "lifestyle"
        ],
        "summary": "Get all Lifestyle information",
        "description": "Returns an object containing information about the Lifestyle gathering system",
        "operation": "getLifestyleInfo",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/Lifestyle"
                }
              }
            }
          }
        }
      }
    },
    "/world": {
      "get": {
        "tags": [
          "world"
        ],
        "summary": "Get all worlds IDs",
        "description": "Returns an array containing the ID of all available worlds",
        "operation": "getWorldIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    4015,
                    4839,
                    6063
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/world/{worldId}": {
      "get": {
        "tags": [
          "world"
        ],
        "summary": "Find world by ID",
        "description": "Returns a single world",
        "operation": "getWorldById",
        "parameters": [
          {
            "name": "worldId",
            "in": "path",
            "description": "ID of world to return",
            "required": true,
            "example": 4015,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/World"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "World not found"
          }
        }
      }
    },
    "/world/{worldIds}": {
      "get": {
        "tags": [
          "world"
        ],
        "summary": "Find worlds by a list of IDs",
        "description": "Returns an array with worlds",
        "operation": "getWorldByIds",
        "parameters": [
          {
            "name": "worldIds",
            "in": "path",
            "description": "IDs of worlds to return separated by comma ,",
            "required": true,
            "example": "4015,4839,6063"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/World"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "World not found"
          }
        }
      }
    },
    "/image/world/{worldTileName}{tileX}-{tileY}-0.png": {
      "get": {
        "tags": [
          "world"
        ],
        "summary": "Get world tile",
        "description": "Returns tile for the specified world and position",
        "parameters": [
          {
            "name": "worldTileName",
            "in": "path",
            "description": "Tile name of the world",
            "required": true,
            "example": "wdmadrigal"
          },
          {
            "name": "tileX",
            "in": "path",
            "description": "X position of the tile",
            "required": true,
            "example": 0
          },
          {
            "name": "tileY",
            "in": "path",
            "description": "Y position of the tile",
            "required": true,
            "example": 0
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Tile not found"
          }
        }
      }
    },
    "/equipset": {
      "get": {
        "tags": [
          "equipset"
        ],
        "summary": "Get all equipment set IDs",
        "description": "Returns an array containing the ID of all available equipment sets",
        "operation": "getEquipSetIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    5670,
                    4267,
                    5303
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/equipset/{equipSetId}": {
      "get": {
        "tags": [
          "equipset"
        ],
        "summary": "Find equipment set by ID",
        "description": "Returns a single equipment set",
        "operation": "getEquipSetById",
        "parameters": [
          {
            "name": "equipSetId",
            "in": "path",
            "description": "ID of equipment set to return",
            "required": true,
            "example": 5670,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipSet"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Equipment Set not found"
          }
        }
      }
    },
    "/equipset/{equipSetIds}": {
      "get": {
        "tags": [
          "equipset"
        ],
        "summary": "Find equipment sets by a list of IDs",
        "description": "Returns an array with equipment sets",
        "operation": "getEquipSetByIds",
        "parameters": [
          {
            "name": "equipSetIds",
            "in": "path",
            "description": "IDs of equipment sets to return separated by comma ,",
            "required": true,
            "example": "5670,4267,5303"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EquipSet"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Equipment Set not found"
          }
        }
      }
    },
    "/achievement": {
      "get": {
        "tags": [
          "achievement"
        ],
        "summary": "Get all achievement IDs",
        "description": "Returns an array containing the ID of all available achievements",
        "operation": "getAchievementIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    58,
                    77,
                    182
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/achievement/{achievementId}": {
      "get": {
        "tags": [
          "achievement"
        ],
        "summary": "Find achievement by ID",
        "description": "Returns a single achievement",
        "operation": "getAchievementById",
        "parameters": [
          {
            "name": "achievementId",
            "in": "path",
            "description": "ID of achievement to return",
            "required": true,
            "example": 58,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Achievement"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Achievement not found"
          }
        }
      }
    },
    "/achievement/{achievementIds}": {
      "get": {
        "tags": [
          "achievement"
        ],
        "summary": "Find achivements by a list of IDs",
        "description": "Returns an array with achievements",
        "operation": "getAchievementByIds",
        "parameters": [
          {
            "name": "achievementIds",
            "in": "path",
            "description": "IDs of achievements to return separated by comma ,",
            "required": true,
            "example": "58,77,182"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Achievement"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Achievement not found"
          }
        }
      }
    },
    "/item": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Get all items IDs",
        "description": "Returns an array containing the ID of all available items",
        "operation": "getItemIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    4015,
                    4839,
                    6063
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/item/{itemId}": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Find item by ID",
        "description": "Returns a single item",
        "operation": "getItemById",
        "parameters": [
          {
            "name": "itemId",
            "in": "path",
            "description": "ID of item to return",
            "required": true,
            "example": 7635,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Item"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Item not found"
          }
        }
      }
    },
    "/item/{itemIds}": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Find items by a list of IDs",
        "description": "Returns an array with items",
        "operation": "getItemByIds",
        "parameters": [
          {
            "name": "itemIds",
            "in": "path",
            "description": "IDs of items to return separated by comma ,",
            "required": true,
            "example": "7635,9814,3070"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Item"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Item not found"
          }
        }
      }
    },
    "/image/item/{fileName}": {
      "get": {
        "tags": [
          "item"
        ],
        "summary": "Get item icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "weaswonormal.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/skill": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "Get all skills IDs",
        "description": "Returns an array containing the ID of all available skills",
        "operation": "getSkillIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    6482,
                    2030,
                    7395
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/skill/{skillId}": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "Find skill by ID",
        "description": "Returns a single skill",
        "operation": "getSkillById",
        "parameters": [
          {
            "name": "skillId",
            "in": "path",
            "description": "ID of skill to return",
            "required": true,
            "example": 6482,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Skill"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Skill not found"
          }
        }
      }
    },
    "/skill/{skillIds}": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "Find skills by a list of IDs",
        "description": "Returns an array with skills",
        "operation": "getSkillByIds",
        "parameters": [
          {
            "name": "skillIds",
            "in": "path",
            "description": "IDs of skills to return separated by comma ,",
            "required": true,
            "example": "6482,2030,7395"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Skill"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Skill not found"
          }
        }
      }
    },
    "/image/skill/{style}/{fileName}": {
      "get": {
        "tags": [
          "skill"
        ],
        "summary": "Get skill icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "style",
            "in": "path",
            "description": "Style of the icon. Accepted values: colored, old.",
            "required": true,
            "example": "colored"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "acrbowaimeds.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/partyskill": {
      "get": {
        "tags": [
          "partyskill"
        ],
        "summary": "Get all party skills IDs",
        "description": "Returns an array containing the ID of all available party skills",
        "operation": "getPartySkillIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    8037,
                    2475,
                    2651
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/partyskill/{partySkillId}": {
      "get": {
        "tags": [
          "partyskill"
        ],
        "summary": "Find party skill by ID",
        "description": "Returns a single party skill",
        "operation": "getPartySkillById",
        "parameters": [
          {
            "name": "partySkillId",
            "in": "path",
            "description": "ID of party skill to return",
            "required": true,
            "example": 8037,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartySkill"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Party Skill not found"
          }
        }
      }
    },
    "/partyskill/{partySkillIds}": {
      "get": {
        "tags": [
          "partyskill"
        ],
        "summary": "Find party skills by a list of IDs",
        "description": "Returns an array with party skills",
        "operation": "getPartySkillByIds",
        "parameters": [
          {
            "name": "partySkillIds",
            "in": "path",
            "description": "IDs of party skills to return separated by comma ,",
            "required": true,
            "example": "8037,2475,2651"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PartySkill"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Party Skill not found"
          }
        }
      }
    },
    "/monster": {
      "get": {
        "tags": [
          "monster"
        ],
        "summary": "Get all monsters IDs",
        "description": "Returns an array containing the ID of all available monsters",
        "operation": "getMonsterIds",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "example": [
                    5858,
                    26,
                    6047
                  ],
                  "items": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/monster/{monsterId}": {
      "get": {
        "tags": [
          "monster"
        ],
        "summary": "Find monster by ID",
        "description": "Returns a single monster",
        "operation": "getMonsterById",
        "parameters": [
          {
            "name": "monsterId",
            "in": "path",
            "description": "ID of monster to return",
            "required": true,
            "example": 26,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monster"
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Monster not found"
          }
        }
      }
    },
    "/monster/{monsterIds}": {
      "get": {
        "tags": [
          "monster"
        ],
        "summary": "Find monsters by a list of IDs",
        "description": "Returns an array with monsters",
        "operation": "getMonsterByIds",
        "parameters": [
          {
            "name": "monsterIds",
            "in": "path",
            "description": "IDs of monsters to return separated by comma ,",
            "required": true,
            "example": "5858,26,6047"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Monster"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid list of IDs supplied"
          },
          "404": {
            "description": "Monster not found"
          }
        }
      }
    },
    "/image/monster/{fileName}": {
      "get": {
        "tags": [
          "monster"
        ],
        "summary": "Get monster icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "aibatt.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/image/place/{fileName}": {
      "get": {
        "tags": [
          "place"
        ],
        "summary": "Get place icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "publicoffice.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/image/element/{style}/{fileName}": {
      "get": {
        "tags": [
          "element"
        ],
        "summary": "Get element icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "style",
            "in": "path",
            "description": "Style of the icon. Accepted values: pc, mobile, masquerade.",
            "required": true,
            "example": "pc"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "fire.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/image/badge/{fileName}": {
      "get": {
        "tags": [
          "badge"
        ],
        "summary": "Get a badge icon",
        "description": "Returns icon for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the icon",
            "required": true,
            "example": "master6.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Icon not found"
          }
        }
      }
    },
    "/upgradelevelbonus": {
      "get": {
        "tags": [
          "upgradelevelbonus"
        ],
        "summary": "Get the upgrade bonus levels",
        "description": "Returns an array containing all the bonus per upgrade level",
        "operation": "getUpgradeLevelBonus",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UpgradeLevelBonus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchangemenus": {
      "get": {
        "tags": [
          "exchangemenu"
        ],
        "summary": "Get the item exchange menus",
        "description": "Returns an array containing all the item exchange menus and their exchanges",
        "operation": "getExchangeMenus",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExchangeMenus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/skillawake": {
      "get": {
        "tags": [
          "awake"
        ],
        "summary": "Get the skill awake values",
        "description": "Returns an object containing all the skill awakes available for all weapon and shield types",
        "operation": "getSkillAwake",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SkillAwake"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statawake": {
      "get": {
        "tags": [
          "awake"
        ],
        "summary": "Get the stat awake values",
        "description": "Returns an object containing all the stat awakes available",
        "operation": "getStatAwake",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatAwake"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/raisedpet": {
      "get": {
        "tags": [
          "raisedpet"
        ],
        "summary": "Get the raised pet information",
        "description": "Returns an object containing all the information for each raised pet",
        "operation": "getRaisedPet",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RaisedPet"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dungeon": {
      "get": {
        "tags": [
          "dungeon"
        ],
        "summary": "Get dungeons information",
        "description": "Returns an array containing all the information for each dungeon",
        "operation": "getDungeons",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Dungeons"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/language": {
      "get": {
        "tags": [
          "language"
        ],
        "summary": "Get all languages",
        "description": "Returns an array containing all the languages",
        "operation": "getLanguages",
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Language"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/image/language/{fileName}": {
      "get": {
        "tags": [
          "language"
        ],
        "summary": "Get language flag",
        "description": "Returns flag for the specified file name",
        "parameters": [
          {
            "name": "fileName",
            "in": "path",
            "description": "File name of the flag",
            "required": true,
            "example": "en.png"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Flag not found"
          }
        }
      }
    },
    "/language/parameter/{parameterName}": {
      "get": {
        "tags": [
          "language"
        ],
        "summary": "Get parameter name",
        "description": "Returns the localized text object for the specified parameter's name",
        "parameters": [
          {
            "name": "parameterName",
            "in": "string",
            "description": "Name of the parameter",
            "required": true,
            "example": "str"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/components/schemas/LocalizedText"
                }
              }
            }
          },
          "404": {
            "description": "Parameter not found"
          }
        }
      }
    },
    "/language/parameter/{parameterNames}": {
      "get": {
        "tags": [
          "language"
        ],
        "summary": "Get a list of parameter names",
        "description": "Returns the localized text object for the specified parameters' names",
        "parameters": [
          {
            "name": "parameterNames",
            "in": "string",
            "description": "Name of the parameters",
            "required": true,
            "example": "str,sta"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/LocalizedText"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Parameter not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Class": {
        "type": "object",
        "description": "Player class",
        "required": [
          "id",
          "name",
          "type",
          "icon",
          "tree",
          "minLevel",
          "maxLevel",
          "maxHP",
          "maxFP",
          "maxMP",
          "hp",
          "mp",
          "fp",
          "attackSpeed",
          "block",
          "critical",
          "autoAttackFactors",
          "defense",
          "magicDefenseStaFactor",
          "magicDefenseIntFactor"
        ],
        "properties": {
          "id": {
            "description": "ID of the class",
            "type": "integer",
            "example": 9686
          },
          "name": {
            "description": "Name of the class",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "type": {
            "description": "Type of the class",
            "type": "string",
            "enum": [
              "beginner",
              "expert",
              "professional"
            ]
          },
          "icon": {
            "description": "Icon of the Class",
            "type": "string",
            "example": "vagrant.png"
          },
          "tree": {
            "description": "Skill tree image for the class",
            "type": "string",
            "example": "Vagrant.png"
          },
          "minLevel": {
            "description": "Minimum player level for the Class",
            "type": "integer",
            "example": 1
          },
          "maxLevel": {
            "description": "Maximum player level for the Class",
            "type": "integer",
            "example": 15
          },
          "parent": {
            "description": "ID of the parent class",
            "type": "integer",
            "example": 764
          },
          "maxHP": {
            "description": "Formula to compute the maximum Hit Points of the player",
            "type": "string",
            "example": "150+level*18+sta*level*0.18"
          },
          "maxFP": {
            "description": "Formula to compute the maximum Fatigue Points of the player",
            "type": "string",
            "example": "level*0.6+sta*2.1"
          },
          "maxMP": {
            "description": "Formula to compute the maximum Mana Points of the player",
            "type": "string",
            "example": "22+level*0.6+int*2.7"
          },
          "hp": {
            "description": "HP Factor",
            "type": "float",
            "example": 1.1
          },
          "mp": {
            "description": "MP Factor",
            "type": "float",
            "example": 1.1
          },
          "fp": {
            "description": "FP Factor",
            "type": "float",
            "example": 1.1
          },
          "attackSpeed": {
            "description": "Attack speed constant used in attack speed calculation",
            "type": "float",
            "example": 72
          },
          "block": {
            "description": "Blocking constant used in block calculation",
            "type": "float",
            "example": 0.2
          },
          "critical": {
            "description": "Critical chance constant used in critical chance calculation",
            "type": "float",
            "example": 1
          },
          "autoAttackFactors": {
            "description": "Auto attack damage factors used in damage calculation",
            "type": "object",
            "required": [
              "sword",
              "axe",
              "staff",
              "stick",
              "knuckle",
              "yoyo",
              "bow",
              "wand"
            ],
            "properties": {
              "sword": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "axe": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "staff": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "stick": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "knuckle": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "yoyo": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "bow": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              },
              "wand": {
                "description": "Constant for this weapon type",
                "type": "float",
                "example": 4.5
              }
            }
          },
          "defense": {
            "description": "Defense factor use in defensive calculations",
            "type": "float",
            "example": 1
          },
          "magicDefenseStaFactor": {
            "description": "Magic defense factor based on STA used in defensive calculations",
            "type": "float",
            "example": 1
          },
          "magicDefenseIntFactor": {
            "description": "Magic defense factor based on INT used in defensive calculations",
            "type": "float",
            "example": 1
          }
        }
      },
      "Recipe": {
        "type": "object",
        "description": "Production recipe",
        "required": [
          "id",
          "name",
          "productionType",
          "masteryPointsReward",
          "masteryPointsRequired",
          "time",
          "resultOptions"
        ],
        "properties": {
          "id": {
            "description": "The ID of the recipe",
            "type": "integer",
            "example": 123
          },
          "name": {
            "description": "The name of the recipe",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "productionType": {
            "description": "The type of production this recipe relates to",
            "type": "string",
            "enum": [
              "alchemy",
              "cooking",
              "carpentry",
              "smithing",
              "fishing",
              "herbGathering",
              "woodCutting",
              "mining"
            ]
          },
          "masteryPointsReward": {
            "description": "The amount of mastery points rewarded when this recipe is created",
            "type": "integer",
            "example": 2
          },
          "masteryPointsRequired": {
            "description": "The amount of mastery points required to produce this recipe",
            "type": "integer",
            "example": 2000
          },
          "requiredAchievement": {
            "description": "The ID of the achievement with the title required to produce this recipe",
            "type": "integer",
            "example": 1233
          },
          "time": {
            "description": "The amount of time in seconds it takes to fully produce an item from this recipe",
            "type": "integer",
            "example": 1800
          },
          "resultOptions": {
            "description": "A list of the possible items this recipe can yield, depending on the grade of the ingredients used in the process",
            "type": "array",
            "items": {
              "type": "integer",
              "description": "The ID of the item produced",
              "example": 4444
            }
          }
        }
      },
      "HousingPack": {
        "type": "object",
        "description": "Housing prop pack, containing objects, NPCs, and/or gathering objects",
        "required": [
          "packItemId"
        ],
        "properties": {
          "packItemId": {
            "description": "ID of the pack",
            "type": "integer",
            "example": 14345
          },
          "objects": {
            "type": "array",
            "description": "Array of props and furniture available in the pack",
            "items": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "minScale": {
                  "description": "The minimum scale the object can be scaled to",
                  "type": "float",
                  "example": 0.5
                },
                "maxScale": {
                  "description": "The maximum scale the object can be scaled to",
                  "type": "float",
                  "example": 3
                },
                "name": {
                  "description": "Name of the object",
                  "$ref": "#/components/schemas/LocalizedText"
                }
              }
            }
          },
          "gatheringObjects": {
            "type": "array",
            "description": "Array of gathering objects available in the pack",
            "items": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "minScale": {
                  "description": "The minimum scale the object can be scaled to",
                  "type": "float",
                  "example": 0.5
                },
                "maxScale": {
                  "description": "The maximum scale the object can be scaled to",
                  "type": "float",
                  "example": 3
                },
                "name": {
                  "description": "Name of the gathering object",
                  "$ref": "#/components/schemas/LocalizedText"
                }
              }
            }
          },
          "npcs": {
            "type": "array",
            "description": "Array of NPCs available in the pack",
            "items": {
              "type": "object",
              "required": [
                "name"
              ],
              "properties": {
                "name": {
                  "description": "Name of the NPC",
                  "$ref": "#/components/schemas/LocalizedText"
                },
                "abilities": {
                  "description": "Special Abilities applied to the player when wearing or using the Item",
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Ability"
                  }
                }
              }
            }
          }
        }
      },
      "HousingTemplate": {
        "type": "object",
        "description": "Personal Housing template world",
        "required": [
          "id",
          "name",
          "image",
          "world",
          "size"
        ],
        "properties": {
          "id": {
            "description": "ID of the template",
            "type": "integer",
            "example": 1553
          },
          "name": {
            "description": "Name of the template",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "image": {
            "description": "Filename of the preview image",
            "type": "string",
            "example": "blankWorld.png"
          },
          "world": {
            "description": "The ID of the template's world",
            "type": "integer",
            "example": 1233
          },
          "size": {
            "description": "The size of the template",
            "type": "string",
            "enum": [
              "small",
              "medium",
              "large",
              "extralarge"
            ]
          }
        }
      },
      "NPC": {
        "type": "object",
        "description": "Non Player Character",
        "required": [
          "id",
          "name",
          "menus",
          "locations",
          "image"
        ],
        "properties": {
          "id": {
            "description": "ID of the NPC",
            "type": "integer",
            "example": 1689
          },
          "name": {
            "description": "Name of the NPC",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "menus": {
            "description": "Menus available at the NPC",
            "type": "array",
            "example": [
              "dialog",
              "trade"
            ],
            "items": {
              "type": "string",
              "enum": [
                "trade",
                "dialog",
                "changeelem",
                "upgrade",
                "inputreward",
                "showreward",
                "piercing",
                "piercingremove",
                "attribute",
                "lodelight",
                "bank",
                "hairshop",
                "itemrepair",
                "post",
                "skinshop",
                "buff",
                "arenaenter",
                "arenaleave",
                "guildbank",
                "guildrank",
                "guildrankwar",
                "guildrankinfo",
                "guildsiegeapply",
                "guildsiegestate",
                "guildsiegecancel",
                "guildsiegejoin",
                "guildsiegelineup",
                "guildsiegejackpot",
                "guildsiegebestplayer",
                "guildsiegeranking",
                "guildsiegejackpot2",
                "guildsiegeinfo1",
                "guildsiegeinfo2",
                "guildsiegeinfo3",
                "guildsiegeinfo4",
                "guildsiegeinfo80",
                "guildsiegeapply80",
                "guildsiegestate80",
                "guildsiegejoin80",
                "guildsiegelineup80",
                "guildsiegeranking80",
                "guildsiegecancel80",
                "guildsiegeinfo60",
                "guildsiegeapply60",
                "guildsiegestate60",
                "guildsiegejoin60",
                "guildsiegelineup60",
                "guildsiegeranking60",
                "guildsiegecancel60",
                "roshambo",
                "exchangeroshambo",
                "upgradecard",
                "safeelementupgrade",
                "safeupgrade",
                "safepiercing",
                "createshiningpowerdice",
                "createjewels",
                "createuniqueweapon",
                "exchangerareitempieces",
                "exchangecardpieces",
                "removelevelreduction",
                "removecostumeblessing",
                "arenaranking",
                "arenareward",
                "accessoryupgrade",
                "safeaccessoryupgrade",
                "traderedchips",
                "tradebluechips",
                "petcandycrafting",
                "petsacrificing",
                "cosmeticwardrobe",
                "dungeon",
                "tradepkchips",
                "exchangefwc",
                "gachamachine",
                "reshufflecard",
                "tradegreenchips",
                "rainbowraceapply",
                "createultimate",
                "traderings",
                "tradeearrings",
                "tradenecklaces",
                "dismantle",
                "fwcboard",
                "fwcteleport",
                "fwcranking",
                "fwcspectate",
                "fwcexchange",
                "fwccollect",
                "tradekalgaschips",
                "gachamachine",
                "rockpaperscissors",
                "costumeboxupgrade",
                "buyplayerhouse",
                "joinplayerhouse",
                "visitplayerhouse",
                "bidguildhouse",
                "joinguildhouse",
                "kalgasassaultinfo",
                "kalgasassaultregister",
                "kalgasassaultentry",
                "kalgasassaultranking",
                "guestbookhouse",
                "teleport",
                "eventupgrade",
                "rainbowracesoloitem",
                "rainbowracesolospeed",
                "rainbowraceduoitem",
                "rainbowraceduospeed",
                "rainbowraceenter",
                "tradeyellowchips",
                "removeultimatejewel",
                "createultimatejewel",
                "fuseultimatejewel",
                "madrigaltournamentboard",
                "madrigaltournamentteleport",
                "madrigaltournamentranking",
                "madrigaltournamentreward",
                "madrigaltournamentbetting",
                "couplebank",
                "buycouplehouse",
                "joincouplehouse",
                "alchemy",
                "cooking",
                "carpentry",
                "smithing",
                "wanderingshop",
                "trademasterchips",
                "lifestylemasteryrank",
                "lifestylemasteryreward",
                "upgradeproduct",
                "customizenpc",
                "synethsisultimatejewel",
                "convertultimatejewel",
                "feedbackpts",
                "tradepts",
                "resetcooldowns",
                "bossraidevent"
              ]
            }
          },
          "locations": {
            "description": "Locations where you can find the NPC",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Location"
            }
          },
          "image": {
            "description": "Dialog image of the NPC",
            "type": "string",
            "example": "marche.png"
          },
          "place": {
            "description": "Role of the NPC",
            "$ref": "#/components/schemas/Place"
          },
          "shop": {
            "description": "NPC shop data",
            "type": "array",
            "items": {
              "description": "NPC shop tabs",
              "type": "object",
              "properties": {
                "name": {
                  "description": "Name of the shop tab",
                  "$ref": "#/components/schemas/LocalizedText"
                },
                "items": {
                  "description": "List of items available",
                  "type": "array",
                  "example": [
                    5997,
                    8902,
                    3656
                  ],
                  "items": {
                    "description": "Item ID",
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "Quest": {
        "type": "object",
        "description": "Quest",
        "required": [
          "id",
          "name",
          "type",
          "repeatable",
          "removable",
          "partyShare"
        ],
        "properties": {
          "id": {
            "description": "ID of the Quest",
            "type": "integer",
            "example": 1840
          },
          "name": {
            "description": "Name of the Quest",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "type": {
            "description": "Type of the Quest",
            "type": "string",
            "example": "chain",
            "enum": [
              "category",
              "normal",
              "repeat",
              "chain",
              "daily"
            ]
          },
          "repeatable": {
            "description": "Whether the Quest can be completed several times or not",
            "type": "boolean",
            "example": false
          },
          "removable": {
            "description": "Whether the Quest can be removed by the player or not",
            "type": "boolean",
            "example": true
          },
          "partyShare": {
            "description": "Whether monster kill count and item drops are shared across party members on the same Quest or not",
            "type": "boolean",
            "example": true
          },
          "parent": {
            "description": "ID of the parent Quest",
            "type": "integer",
            "example": 821
          },
          "beginNPC": {
            "description": "ID of the NPC launching the Quest",
            "type": "integer",
            "example": 2595
          },
          "minLevel": {
            "description": "Minimum level required to begin the Quest",
            "type": "integer",
            "example": 1
          },
          "maxLevel": {
            "description": "Maximum level required to begin the Quest",
            "type": "integer",
            "example": 120
          },
          "beginClasses": {
            "description": "List of player Classes able to begin the Quest",
            "type": "array",
            "example": [
              9686
            ],
            "items": {
              "type": "integer"
            }
          },
          "beginQuests": {
            "description": "List of Quests required to begin the Quest",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "quest",
                "completed"
              ],
              "properties": {
                "quest": {
                  "description": "ID of the required Quest",
                  "type": "integer",
                  "example": 9025
                },
                "completed": {
                  "description": "Whether the Quest needs to be completed or just launched",
                  "type": "boolean",
                  "example": true
                }
              }
            }
          },
          "beginReceiveItems": {
            "description": "List of Items received when launching the Quest",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "item",
                "count"
              ],
              "properties": {
                "item": {
                  "description": "ID of the Item",
                  "type": "integer",
                  "example": 1586
                },
                "count": {
                  "description": "Number of items received",
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "endNPC": {
            "description": "ID of the NPC completing the Quest",
            "type": "integer",
            "example": 2595
          },
          "endNeededItems": {
            "description": "List of Items required to complete the Quest",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "item",
                "count"
              ],
              "properties": {
                "item": {
                  "description": "ID of the Item required",
                  "type": "integer",
                  "example": 5370
                },
                "count": {
                  "description": "Number of items required",
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "endTimeLimit": {
            "description": "Maximum time in seconds to complete the Quest",
            "type": "integer",
            "example": 600
          },
          "endTalkNPC": {
            "description": "ID of the NPC to talk to before completing the Quest",
            "type": "integer",
            "example": 9779
          },
          "endVisitPlace": {
            "description": "Place to visit before completing the Quest",
            "$ref": "#/components/schemas/Spawn"
          },
          "endKillMonsters": {
            "description": "List of Monsters to kill before completing the Quest",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "monster",
                "count"
              ],
              "properties": {
                "monster": {
                  "description": "IDs of any of the eligible monsters to kill",
                  "type": "array",
                  "items": {
                    "type": "number",
                    "example": 1937
                  }
                },
                "count": {
                  "description": "Number of monsters to kill",
                  "type": "integer",
                  "example": 1
                }
              }
            }
          },
          "endRemoveItems": {
            "description": "List of Items removed when completing the Quest",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "item"
              ],
              "properties": {
                "item": {
                  "description": "ID of the Item",
                  "type": "integer",
                  "example": 1586
                },
                "count": {
                  "description": "Number of items removed. If the value is absent then all items with the ID are removed from the player's inventory",
                  "type": "integer",
                  "example": 10
                }
              }
            }
          },
          "endReceiveGold": {
            "description": "Amount of Penya received when completing the Quest. If the value is null then the player will receive Penya but the amount is hidden",
            "type": "integer",
            "example": 10000,
            "nullable": true
          },
          "endReceiveExperience": {
            "description": "Amount of experience in % given to the player completing the Quest on a specific level. If the value is null then the player will receive experience but the amount is hidden",
            "type": "array",
            "nullable": true,
            "items": {
              "type": "number",
              "example": 20
            }
          },
          "endReceiveCoupleExperience": {
            "description": "Amount of couple experience in % given to the player completing the Quest at each couple level. If the value is null then the player will receive couple experience but the amount is hidden",
            "type": "array",
            "nullable": true,
            "items": {
              "type": "number",
              "example": 20
            }
          },
          "endReceiveInventorySpaces": {
            "description": "Inventory spaces unlocked when completing the Quest. If the value is null then the player will unlock spaces but the amount is hidden",
            "type": "integer",
            "example": 1,
            "nullable": true
          },
          "endReceiveSkillPoints": {
            "description": "Skill points received when completing the Quest. If the value is null then the player will receive Skill points but the amount is hidden",
            "type": "integer",
            "example": 40,
            "nullable": true
          },
          "endReceiveKarma": {
            "description": "Karma recovered when completing the Quest. If the value is null then the player will recover Karma but the amount is hidden",
            "type": "string",
            "example": "+2000",
            "nullable": true
          },
          "endReceiveItems": {
            "description": "List of Items received when completing the Quest. If the value is null then the player will receive items but they are hidden",
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "required": [
                "item",
                "count",
                "soulLinked"
              ],
              "properties": {
                "item": {
                  "description": "ID of the Item",
                  "example": 7676,
                  "type": "integer"
                },
                "count": {
                  "description": "Number of items received",
                  "example": 1,
                  "type": "integer"
                },
                "upgradeLevel": {
                  "description": "The upgrade level of the received item",
                  "example": 3,
                  "type": "integer"
                },
                "soulLinked": {
                  "description": "Whether the item is Soul-Linked to the character or not",
                  "example": true,
                  "type": "boolean"
                }
              }
            }
          },
          "description": {
            "description": "Description of the Quest",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "descriptionComplete": {
            "description": "Description of the Quest once it has been completed",
            "$ref": "#/components/schemas/LocalizedText"
          },
          "dialogsBegin": {
            "description": "List of Dialogs when the NPC presents the Quest to the player",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalizedText"
            }
          },
          "dialogsAccept": {
            "description": "List of Dialogs when the player accepts the Quest",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalizedText"
            }
          },
          "dialogsDecline": {
            "description": "List of Dialogs when the player declines the Quest",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalizedText"
            }
          },
          "dialogsComplete": {
            "description": "List of Dialogs when the player completes the Quest",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalizedText"
            }
          },
          "dialogsFail": {
            "description": "List of Dialogs when the player fails to complete the Quest",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LocalizedText"
            }
          }
        }
      },
      "PK": {
        "type": "object",
        "description": "PK Information",
        "required": [
          "pointsPerKill",
          "decreasePointDelaySec",
          "decreasePointCount",
          "dropChipMonsterFactor",
          "dropChipPercentages"
        ],
        "properties": {
          "pointsPerKill": {
            "description": "The number of points your PK value increases by each kill",
            "type": "integer",
            "example": 3
          },
          "decreasePointDelaySec": {
            "description": "The number of seconds between each PK point decrease",
            "type": "integer",
            "example": 300
          },
          "decreasePointCount": {
            "description": "The number of points decreased every `decreasePointDelaySec`",
            "type": "integer",
            "example": 1
          },
          "dropChipMonsterFactor": {
            "description": "The factor for dropping chips when dying to a monster instead of a player",
            "type": "float",
            "example": 0.6
          },
          "dropChipPercentages": {
            "description": "Percentage of chips you will drop based on your stolen chip count",
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "stolenChipsCount",
                "dropPercent"
              ],
              "properties": {
                "stolenChipsCount": {
                  "description": "The number of chips you have stolen",
                  "type": "integer",
                  "example": 25
                },
                "dropPercent": {
                  "description": "The percentage of your chips you will drop",
                  "type": "float",
                  "example": 2.5
                }
              }
            }
          }
        }
      },
      "Couple": {
        "type": "object",
        "description": "Couple Information",
        "required": [
          "minimumLevel",
          "formationCooldown",
          "passiveExperienceInterval",
          "levels",
          "anniversaryRewards",
          "skills"
        ],
        "properties": {
          "minimumLevel": {
[...]
